<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,500' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

	<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
		<div class="c-navigation__container u-container">
			<a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="/">Home</a>
			<a class="c-navigation__item {% if page.url == '/blog/' %}is-active{% endif %}" href="/blog/">Blog</a>
		</div>
	</nav>

	<article class="c-article">
		<header class="c-header c-article__header">
			<div class="u-container">
				<h1 class="c-header__title">{{ page.title }}</h1>
			</div>
		</header>

		<div class="c-article__main">
			{{ content }}
		</div>
	</article>

	
	<footer class="c-footer">
		<div class="u-container c-footer__container">
			<p>
				<a href="mailto:tezza2001@gmail.com">email tezza2001@gmail.com</a>
			</p>
		</div>
	</footer>

</body>

</html>